<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!-- Define base path for logs -->
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender" fileName="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <!-- Rotate log file based on size -->
            <SizeBasedTriggeringPolicy size="50000"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <!-- Reference to the Rolling File Appender -->
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>

</Configuration>
